*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  width: 100%;
  margin: 0 10%;
}

body {
  background-color: #121212;
}

a,
button {
  cursor: pointer;
}
