:root{

  --color-white: #fff;
  --color-spotify-green: #1ed760;
  --color-spotify-green-o: #1db954;
  --color-gry: #181818;


  --header-color: var(--color-white);
  --header-btn-bckg: var(--color-spotify-green-o);
  --header-bckg: var(--color-gry)
}