a,
button{
  text-decoration: none;
  border: none;
}
header{
  background-color: var(--header-bckg);
  z-index: 1000;
  width: 100%;
  border: 1px solid #fff;
  color: var(--header-color);
  font-family: system-ui;
  .header{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    &__logo {
      color: var(--header-color);
      font-family: 'Maven Pro', sans-serif;
      font-size: 25px;
      font-weight: 600;
    }
    ul{
      display: flex;
      font-weight: 500;
      gap: 2.75em;
      list-style: none;
      & > *{cursor: pointer;}
    }
    button{
      background: var(--header-btn-bckg);
      color: var(--header-color);
      padding: 15px 25px;
      border-radius: 30px;
      font-size: 20px;
      font-weight: 600;
      font-family: 'Nunito Sans', sans-serif;
    }
  }
}