.render {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  // flex-basis: 100%;
  gap: 1em;

  .card {
    background-color: #181818;
    color: #fff;
    padding: 16px;
    // width: auto;
    cursor: pointer;
    border-radius: 7px;
    &:hover {
      background-color: #292929;
    }
    &__img {
      // img banner
      position: relative;
      overflow: hidden;
      img {
        max-width: 200px;
        width: 100%;
        border-radius: 6px;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 28px;
          font-weight: 800;
        }
      }
      button {
        transition: 0.2s;
        opacity: 0;
        height: 50px;
        width: 50px;
        position: absolute;
        border: none;
        background-color: #1fdf65;
        border-radius: 50%;
        bottom: -20px;
        right: 10px;
      }
    }

    &__content {
      // content
      margin-top: 10px;
      font-family: system-ui;
      &--title {
        font-weight: 700;
      }
      &--by {
        margin-top: 7px;
        opacity: 0.7;
        margin-bottom: 10px;
      }
    }
  }
}

.card {
  transition: 0.2s;
}
.card .card__img {
  box-shadow: 0 0 20px #171717;
}

.card:hover .hover-btn {
  bottom: 10px;
  opacity: 1;
}
